.footer {
    background: #4a4a4a;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    & a {
        width: 38.2px;
        height: 38.2px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -72px;
    }

    & div {}

    &div ul {
        display: flex;
        flex-direction: column;
    }

    & p {}
}

.li1 {
    margin-bottom: 80px;

}

.li2 {
    margin-bottom: 40px;
}