.header {
  background: rgba(22, 147, 22, 0.668);
}

.header_icon {
  background: rgba(22, 147, 22, 0.668);
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}