<footer class="footer" id="footer">
    <a href="#main"> <img src="/images/ico-arrow.svg" alt=""></a>
    <div>
        <ul class="li1">
            <li>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESTACADOS</li>
            <li>TIPS</li>
        </ul>
    </div>
    <div>
        <ul class="li2">
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
    </div>
    <p>copy 2023</p>
    <p> We (love) run</p>
</footer>